main {
  background: white;
}

.background-light-gray {
  background: #F5F6F7;
}

.background-white {
  background: white;
}

/*------------------------------------*\
  #FULLBANNERS
\*------------------------------------*/
.fullbanner--default {
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fullbanner--default img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 400px;
  z-index: -1;
}

/*------------------------------------*\
  #BOX-IMAGES
\*------------------------------------*/
.box--image {
  position: relative;
  width: 100%;
}

.box--image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content--box-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header--main {
  background: #32786A;
}

.header__padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__nowrap {
  white-space: nowrap;
}

.icon__search-top {
  top: auto !important;
}

.social__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.menu--nav {
  background: #153B35;
}

.menu--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu--link {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
}

.menu--link:hover {
  color: #32786A;
}

.menu__active {
  color: #32786A;
}

.menu--has-submenu {
  position: relative;
}

.menu--has-submenu:hover .menu--submenu {
  height: auto;
  -webkit-transform: all .35s ease;
          transform: all .35s ease;
}

.menu--submenu {
  height: 0;
  list-style: 0;
  left: 50%;
  margin-left: -100px;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  z-index: 9;
  width: 200px;
}

.submenu__link {
  background: #153B35;
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 8px;
}

.li__margin {
  margin-top: 5px;
}

.menu--submenu li {
  background: #153B35;
}

:root {
  --swiper-theme-color: $color-primary-darken-02 !important;
}

/*------------------------------------*\
  #PAGE-INSTITUTIONAL
\*------------------------------------*/
.institutional--section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.institutional--box {
  list-style: 0;
  margin: 10px 0;
  min-height: 400px;
}

.institutional--box-div {
  height: 100%;
  min-height: 400px;
  padding: 10px 20px;
  text-align: center;
}

.institutional--box-div > p {
  color: white;
}

.institutional--box-div > ul {
  list-style: none !important;
}

.institutional--box-div > ul > li {
  color: white;
  text-align: center;
}

.institutional--box__color__primary {
  background: #113742;
}

.institutional--box__color__secondary {
  background: #153B35;
}

.institutional--box__color__tertiary {
  background: #32786A;
}

/*------------------------------------*\
  #PAGE-NEWS
\*------------------------------------*/
.news--filter {
  padding-top: 40px;
  padding-bottom: 40px;
}

.news--filter__background {
  background: #ededed;
}

.news--section {
  padding-bottom: 64px;
  padding-top: 64px;
}

.news--section h5 {
  color: #32786A;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.news--section h5::after {
  background: #32786A;
  content: "";
  left: 0;
  height: 1px;
  position: absolute;
  margin-top: -.5px;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.news--section h5 span {
  background: white;
  padding: 0 35px;
  position: relative;
  z-index: 9;
}

.news--box {
  margin-bottom: 8px;
  margin-top: 8px;
}

.news--subtitle {
  color: #555;
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 16px;
  position: relative;
  text-transform: uppercase;
}

.news--title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 24px;
  margin: 0;
}

.news--abstract {
  color: #555;
  font-size: 12px;
  line-height: 24px;
}

.news--read-more {
  color: #555;
  display: block;
  font-style: italic;
  margin-bottom: 16px;
  text-align: center;
}

.social-links {
  position: absolute;
  bottom: -7px;
  top: auto;
  right: 0;
  width: auto;
  max-width: 32px;
  height: 32px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 16px;
  -webkit-transition: max-width .2s linear,padding .2s linear;
  transition: max-width .2s linear,padding .2s linear;
  overflow: hidden;
  padding-right: 32px;
  background: #fff;
}

.social-links.open {
  max-width: 320px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.social-links .toggle-social-links {
  background: #fff;
  opacity: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  z-index: 1;
}

.social-links .toggle-social-links i, .social-links .toggle-social-links span {
  opacity: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 30px;
  -webkit-transition: opacity .2s linear 0s;
  transition: opacity .2s linear 0s;
  color: #9e9d9d;
}

.social-links .toggle-social-links .fa-times {
  opacity: 0;
}

.social-links .toggle-social-links svg, .social-links .toggle-social-links span {
  opacity: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 20px !important;
  top: 5px;
  left: 0;
  height: 100%;
  line-height: 30px;
  -webkit-transition: opacity .2s linear 0s;
  transition: opacity .2s linear 0s;
  color: #9e9d9d;
}

.social-links a {
  opacity: 0;
  -webkit-transition: opacity 0s linear .2s;
  transition: opacity 0s linear .2s;
}

.social-links a {
  padding: 0 4px;
  text-decoration: none;
  border: none;
}

.social-links.open a {
  opacity: 1;
  -webkit-transition: opacity 0 linear 0;
  transition: opacity 0 linear 0;
}

.social-links.open .toggle-social-links .fa-share-alt {
  opacity: 0;
}

.social-links.open .toggle-social-links .fa-times {
  opacity: 1 !important;
  color: #9e9d9d;
}

.social-links.open a {
  opacity: 1;
  -webkit-transition: opacity 0 linear 0;
  transition: opacity 0 linear 0;
}

.features--section {
  background: #32786A;
  padding-bottom: 64px;
  padding-top: 64px;
}

.features--section h5 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.features--section h5::after {
  background: white;
  content: "";
  left: 0;
  height: 1px;
  position: absolute;
  margin-top: -.5px;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.features--section h5 span {
  background: #32786A;
  padding: 0 35px;
  position: relative;
  z-index: 9;
}

.feature--text-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.63);
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.feature--text-box svg {
  color: white;
  text-align: center;
  width: 100% !important;
}

.feature--title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer {
  background: #153B35;
}

.footer-site-map div {
  font-size: 16px;
  line-height: 24px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #49b675;
}

.social-network {
  border: 0;
}

.social-network a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
  text-align: center;
  width: 32px;
}

.social-network a * {
  fill: #113742;
  path: #113742;
}

.box-map {
  background: #32786A;
  color: #fff;
  padding-bottom: 32px;
  padding-top: 32px;
}

#map {
  height: 250px;
  width: 100%;
}
/*# sourceMappingURL=theme.css.map */